# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
.pnpm-debug.log*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env*
.env.production

# typescript
*.tsbuildinfo
next-env.d.ts

# generated native folders
/ios
/android

# next.js
/.next/
/out/

# production
/build

# testing
/coverage

# vercel
.vercel

# misc
golo-backend/.env
